<html>
{%load static%}
<head>
  

<script src="https://kit.fontawesome.com/9e3fe34478.js" crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=.4">
<link rel="stylesheet" type="" href="{%static 'css/style.css'%} ">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">

</head>


<body>
    <nav>
    <div class="top-header">
        <h4 class="coffee-row">Lets Offer</h4>



    </div>
    <ul class="nav-links">
      <li>
        <a href="http://127.0.0.1:8000/">Home</a> 
     </li>
      <li>
        <a href="http://127.0.0.1:8000/additem">List Your Item</a> 
     </li>
    </ul>
    <div class="burger">
    <div class="myline1"></div>
    <div class="myline2"></div>
    <div class="myline3"></div>
</div>
</nav>

    {% block content %}
    {% endblock content %}

<script src="https://js.stripe.com/v3/" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>


<footer class="pv4 ph3 ph5-m ph6-l mid-gray">
</body>
</html>